#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export DEB_BUILD_OPTIONS= nocheck
PHPCONFIG=/usr/bin/php-config
EXT_DIR=$(shell $(PHPCONFIG)$* --extension-dir)
PHP_VERSION=$(shell $(PHPCONFIG)$* --version | cut -f 1,2 -d ".")

%:
	dh $@

override_dh_auto_install:
	mkdir -p debian/aws-elasticache-cluster-client-memcached-for-php$(EXT_DIR)
	mkdir -p debian/aws-elasticache-cluster-client-memcached-for-php/etc/php/$(PHP_VERSION)/mods-available
	install -m 644 -o root -g root modules$*/memcached.so debian/aws-elasticache-cluster-client-memcached-for-php$(EXT_DIR)/memcached.so
	install -m 644 -o root -g root debian/memcached.ini debian/aws-elasticache-cluster-client-memcached-for-php/etc/php/$(PHP_VERSION)/mods-available/memcached.ini

override_dh_auto_configure:
	phpize
	dh_auto_configure -- --with-libmemcached-dir=/usr

